@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reuses register animations */
.spinner {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.slide-down {
    animation: slideDown 0.3s ease-out forwards;
}

@keyframes slideDown {
    from {
        top: -2.5rem;
        opacity: 0;
    }
    to {
        top: 0.5rem;
        opacity: 1;
    }
}

/* Additional login-specific styles */
#forgot-password-link:hover {
    text-decoration-thickness: 1.5px;
}
